/* Typography */
body { color: #444; }
html, body, p, .btn { font-size: 1rem; }
h1 { font-size: 2.5rem; margin: 0 0 0.5em; font-weight: bold; text-transform: uppercase; }
h2 { font-size: 2rem; }
h3 { font-size: 1rem; margin: 0; padding: 0.5em; text-align: center; background: #3d3d3d; color: #fff; }
h4 { font-size: 1rem; margin: 0.75em 1em; float: left; }
#voices .btn { font-size: 0.7rem; }

/* Spacing */
body { padding: 2rem; }
.btn { margin: 0.25em; }

/* Buttons */
#buttons { margin-top: 1rem; }
#buttons a {
    width: 48%;
    margin: 1%;
    font-weight: bold;
}

/* Sizing */
#bingoboard { width: 100%; }
.letter, .ball { width: 6.25%; }

/* Bingo Board */
.ball {
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
}
.called, .current {
    font-weight: bold;
    color: #fff;
}
.current {
    animation: blink 2.5s infinite;
    -webkit-animation: blink 2.5s infinite;
}
@keyframes blink {
    0% { color: white; }
    50% { color: #444; }
    100% { color: white; }
}

/* Balls */
#lastBall, #newBall, .ballText {
    font-size: 1rem;
    line-height: 1;
    padding: 1em 1.5em;
    margin: 0.5em auto;
    border-radius: 100%;
    font-weight: bold;
}
#lastCall, #currentCall {
    background: #ececec;
    min-height: 8rem;
}
.ballText {
    border: 1px solid red;
    box-shadow: inset -0.5rem -0.5rem 2rem 0 rgba(0, 0, 0, 0.16), 0 0 0 0.25rem white;
    background: radial-gradient(circle at 20% 20%, white, #efefef);
}
.ballText.single {
    padding: 1em 1.7em;
}
#lastBall:empty, #newBall:empty {
    display: none;
}

/* Ball Colors */
#newBall.blue, #lastBall.blue {
    background: radial-gradient(circle at 20% 20%, blue, #000062);
}
#newBall.blue .ballText, #lastBall.blue .ballText {
    border: 0.15rem solid blue;
}
#newBall.red, #lastBall.red {
    background: radial-gradient(circle at 20% 20%, red, #9e0000);
}
#newBall.red .ballText, #lastBall.red .ballText {
    border: 0.15rem solid red;
}
#newBall.white, #lastBall.white {
    background: radial-gradient(circle at 20% 20%, white, #b6b6b6);
}
#newBall.white .ballText, #lastBall.white .ballText {
    border: 0.15rem solid red;
}
#newBall.green, #lastBall.green {
    background: radial-gradient(circle at 20% 20%, green, #004800);
}
#newBall.green .ballText, #lastBall.green .ballText {
    border: 0.15rem solid green;
}
#newBall.orange, #lastBall.orange {
    background: radial-gradient(circle at 20% 20%, orange, #af7900);
}
#newBall.orange .ballText, #lastBall.orange .ballText {
    border: 0.15rem solid orange;
}

/* Footer */
footer p {
    font-size: 0.75rem;
    font-style: italic;
}

/* Mobile Sizes */
@media screen and (max-width: 40em){
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    h3, h4 {
        margin-top: 1rem;
        display: block;
        width: 100%;
    }
    .voice {
        width: 48%;
        margin: 1%;
    }
    .letter-block {
        display: inline-block;
        width: 20%;
    }
    .letter, .ball {
        width: 100%;
    }
    #bingoboard .ball, #bingoboard .letter {
        /*font-size: 0.7rem;*/
    }
}